#sales {
    width: 90%;
    margin: 20px auto;
}

.salesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #70a8f8;
}

.salesHeader h1 {
    color: white;
    text-shadow: 0 0 5px black;
}

.salesHeader button {
    border: none;
}

.salesHeader #add-sale-btn {
    text-decoration: none;
    font-size: 18px;
    padding: 5px 30px;
    display: block;
}

#sales table {
    width: 100%;
    border-collapse: collapse;
    background: #0000002b;
}

#sales table td {
    text-align: center;
}

#sales table td button {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    background: transparent;
    border: 1px solid black;
}